# Group Project: Web Scrabing Project to gather data from a Wikipedia page - (List of most profitable companies in 2022)

### Author: <font color='red'> Nakarin Philangam </font>

In [33]:
# Import the library used to open URLs 
import urllib.request
# Import BeautifulSoup to parse the HTML from bs4 
from bs4 import BeautifulSoup
# Specify the URL/web page 
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, "lxml")

In [34]:
# print(soup.prettify())

In [35]:
# Check the title of the wiki page
soup.title
soup.title.string

'List of largest companies in the United States by revenue - Wikipedia'

In [36]:
# get all tables
all_tables = soup.find_all("table")
# for table in all_tables:
#     print("TABLE:" + str(table) + "\n")

In [37]:
# get the table with the 'table' tag with class_="wikitable sortable"
all_sortable_tables = soup.find_all("table", class_="wikitable sortable")
# for table in all_sortable_tables:
#     print("SORTABLE TABLE:" + str(table) + "\n")

In [38]:
# get the 2nd 'wikitable sortable' table by using index[1]
right_table = all_sortable_tables[1]
print("RIGHT TABLE:" + str(right_table) + "\n")

RIGHT TABLE:<table class="wikitable sortable">
<caption>
</caption>
<tbody><tr>
<th>Rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Profits<br/>(USD millions)
</th></tr>
<tr>
<td>1
</td>
<td>Apple
</td>
<td>Electronics
</td>
<td style="text-align:center;">94,680
</td></tr>
<tr>
<td>2
</td>
<td><a href="/wiki/Berkshire_Hathaway" title="Berkshire Hathaway">Berkshire Hathaway</a>
</td>
<td><a href="/wiki/Conglomerate_(company)" title="Conglomerate (company)">Conglomerate</a>
</td>
<td style="text-align:center;">89,795
</td></tr>
<tr>
<td>3
</td>
<td><a href="/wiki/Alphabet_Inc." title="Alphabet Inc.">Alphabet</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">76,033
</td></tr>
<tr>
<td>4
</td>
<td><a href="/wiki/Microsoft" title="Microsoft">Microsoft</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">72,271
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/JPMorgan_Chase" title="JPMorgan Chase">JPMorgan Chase</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">48,334
</td></tr>
<tr>
<td>6
</td>
<td><a class="mw-redirect" href="/wiki/Facebook,_Inc." title="Facebook, Inc.">Meta</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">39,370
</td></tr>
<tr>
<td>7
</td>
<td><a href="/wiki/Amazon_(company)" title="Amazon (company)">Amazon</a>
</td>
<td>Retail and Technology
</td>
<td style="text-align:center;">33,364
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/Bank_of_America" title="Bank of America">Bank of America</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">31,978
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/ExxonMobil" title="ExxonMobil">ExxonMobil</a>
</td>
<td><a href="/wiki/Petroleum_industry" title="Petroleum industry">Petroleum industry</a>
</td>
<td style="text-align:center;">23,040
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Fannie_Mae" title="Fannie Mae">Fannie Mae</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">22,176
</td></tr>
<tr>
<td>11
</td>
<td><a href="/wiki/Verizon_Communications" title="Verizon Communications">Verizon</a>
</td>
<td>Telecommunications
</td>
<td style="text-align:center;">22,065
</td></tr>
<tr>
<td>12
</td>
<td><a href="/wiki/Pfizer" title="Pfizer">Pfizer</a>
</td>
<td><a href="/wiki/Pharmaceutical_industry" title="Pharmaceutical industry">Pharmaceutical industry</a>
</td>
<td style="text-align:center;">21,979
</td></tr>
<tr>
<td>13
</td>
<td><a href="/wiki/Citigroup" title="Citigroup">Citigroup</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">21,952
</td></tr>
<tr>
<td>14
</td>
<td><a href="/wiki/Goldman_Sachs" title="Goldman Sachs">Goldman Sachs</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">21,635
</td></tr>
<tr>
<td>15
</td>
<td><a href="/wiki/Wells_Fargo" title="Wells Fargo">Wells Fargo</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">21,548
</td></tr>
<tr>
<td>16
</td>
<td><a href="/wiki/Johnson_%26_Johnson" title="Johnson &amp; Johnson">Johnson &amp; Johnson</a>
</td>
<td><a href="/wiki/Pharmaceutical_industry" title="Pharmaceutical industry">Pharmaceutical industry</a>
</td>
<td style="text-align:center;">20,878
</td></tr>
<tr>
<td>17
</td>
<td><a href="/wiki/AT%26T" title="AT&amp;T">AT&amp;T</a>
</td>
<td>Telecommunications
</td>
<td style="text-align:center;">20,081
</td></tr>
<tr>
<td>18
</td>
<td><a href="/wiki/Intel" title="Intel">Intel</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">19,868
</td></tr>
<tr>
<td>19
</td>
<td><a href="/wiki/Ford_Motor_Company" title="Ford Motor Company">Ford Motor Company</a>
</td>
<td>Automotive
</td>
<td style="text-align:center;">17,937
</td></tr>
<tr>
<td>20
</td>
<td><a href="/wiki/UnitedHealth_Group" title="UnitedHealth Group">UnitedHealth Group</a>
</td>
<td>Healthcare
</td>
<td style="text-align:center;">17,285
</td></tr></tbody></table>

In [39]:
# create 4 list to store data
A = []
B = []
C = []
D = []

# get the data for every club in the table
for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells)==4:
        A.append(cells[0].find(text=True).strip())
        B.append(cells[1].find(text=True).strip())
        C.append(cells[2].find(text=True).strip())
        D.append(cells[3].find(text=True).strip())

In [40]:
# use a Pandas to create a DataFrame with the data
import pandas as pd
df = pd.DataFrame(A,columns=['Rank'])
df['Name']=B
df['Industry']=C
df['Profits (USD millions)']=D
df

   Rank                Name                 Industry Profits (USD millions)
0     1               Apple              Electronics                 94,680
1     2  Berkshire Hathaway             Conglomerate                 89,795
2     3            Alphabet               Technology                 76,033
3     4           Microsoft               Technology                 72,271
4     5      JPMorgan Chase               Financials                 48,334
5     6                Meta               Technology                 39,370
6     7              Amazon    Retail and Technology                 33,364
7     8     Bank of America               Financials                 31,978
8     9          ExxonMobil       Petroleum industry                 23,040
9    10          Fannie Mae               Financials                 22,176
10   11             Verizon       Telecommunications                 22,065
11   12              Pfizer  Pharmaceutical industry                 21,979
12   13           Citigroup               Financials                 21,952
13   14       Goldman Sachs               Financials                 21,635
14   15         Wells Fargo               Financials                 21,548
15   16   Johnson & Johnson  Pharmaceutical industry                 20,878
16   17                AT&T       Telecommunications                 20,081
17   18               Intel               Technology                 19,868
18   19  Ford Motor Company               Automotive                 17,937
19   20  UnitedHealth Group               Healthcare                 17,285

In [41]:
# save the DataFrame (df) to a CSV file
df.to_csv('CSC221-webscrape-data.csv')